.status-button
    background-color: white
    border-radius: 3px
    border: 1px solid #ccc
    cursor: pointer
    height: 6em
    padding: 6%
    width: 6em
    opacity: .8
    .button-image
        background-repeat: no-repeat
        background-size: contain
        height: 100%
        width: 100%
.status-button:hover
    box-shadow: 1px 1px 3px 0px black
    opacity: 1
