.status-button
    background-color: white
    border-radius: 3px
    border: 1px solid #ccc
    cursor: pointer
    height: 42px
    padding: 3px
    width: 42px
    .button-image
        background-repeat: no-repeat
        background-size: contain
        height: 100%
        width: 100%
.status-button:hover
    box-shadow: 0px 0px 0px 1px #0000ff
    opacity: .75
